[class*='docSidebarContainer_'] {
    border: none !important;
}

.menu[class*='menu_'] {
    margin: 0;
    padding: 0;
    scrollbar-gutter: auto;
}

.menu__list {
    margin-left: var(--doc-sidebar-hidden-width);
}

.menu__list .sidebar-home a,
.menu__list .sidebar-faq a,
.menu__list .sidebar-privacy-policy a {
    display: none;
}

.docs-doc-id-faq .theme-doc-sidebar-container,
.docs-doc-id-privacy-policy .theme-doc-sidebar-container {
    display: none !important;
}

.docs-doc-id-faq [class*='docMainContainer_'],
.docs-doc-id-privacy-policy [class*='docMainContainer_'] {
    max-width: 100% !important;
}

.menu__link--active:not(.menu__link--sublist) {
    background-color: var(--ifm-color-emphasis-200);
}

.menu__list-item {
    margin: 0 !important;
}

.menu__list-item:not([class*='theme-doc-sidebar-item-link-level-']):nth-child(2) {
    background-color: var(--ifm-color-success-contrast-background) !important;
}

.menu__link {
    border-radius: 0;
    border-right: var(--ifm-alert-border-left-width) solid transparent !important;
    color: var(--ifm-color-emphasis-700);
    line-height: 1.75;
    padding: .45rem .75rem;
}

.menu__link:hover {
    background-color: var(--ifm-color-emphasis-100);
    color: var(--ifm-color-emphasis-700);
}

.menu__link--active {
    background-color: var(--ifm-color-emphasis-200);
    border-right: var(--ifm-alert-border-left-width) solid var(--ifm-blockquote-border-color) !important;
}

[class*='collapseSidebarButton_'],
[class*='expandButton_'] {
    background-color: var(--ifm-color-emphasis-200) !important;
    border: none !important;
}

[class*='collapseSidebarButton_'] {
    height: 100% !important;
    padding: 0;
    position: absolute !important;
    top: 0 !important;
    width: var(--doc-sidebar-hidden-width) !important;
}

[class*='collapseSidebarButton_']::after,
[class*='expandButton_']::after {
    background-color: var(--ifm-color-emphasis-1000);
    content: ' ';
    display: inline-block;
    height: 100%;
    mask: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem no-repeat;
    width: 100%;
}

[class*='expandButton_']::after {
    transform: rotate(90deg);
}

[class*='collapseSidebarButton_']::after {
    transform: rotate(-90deg);
}

[class*='collapseSidebarButtonIcon_'],
[class*='expandButtonIcon_'] {
    display: none;
}

@media screen and (max-width: 996px) {
    .theme-doc-sidebar-menu {
        margin-right: .75rem;
    }

    .menu__list {
        margin: 0 var(--doc-sidebar-hidden-width);
    }
}
