.docs-doc-id-also-bought img[alt='VCT Also Bought Logo'] {
}

.docs-doc-id-also-bought img[alt='Sidebar Main container'] {
    width: 1000px;
}

.docs-doc-id-also-bought img[alt='Mini-cart Promotion container'] {
    width: 700px;
}

.docs-doc-id-also-bought img[alt='Before Page Footer container'] {
    width: 950px;
}

.docs-doc-id-also-bought img[alt='Related products block'] {
    width: 700px;
}

.docs-doc-id-also-bought img[alt='Up-Sell products block'] {
    width: 500px;
}

.docs-doc-id-also-bought img[alt='Cross-Sell products block'] {
    width: 1100px;
}
