.docs-doc-id-change-sku-dynamically img[alt='VCT Change SKU Dynamically Logo'] {
}

.docs-doc-id-change-sku-dynamically img[alt='Frontend selector devtools'] {
    max-width: 700px;
}

.docs-doc-id-change-sku-dynamically img[alt='Selector validation in Admin'] {
    max-width: 500px;
}

.docs-doc-id-change-sku-dynamically img[alt='Example'] {
    max-width: 800px;
}
