.docs-doc-id-product-info-switcher img[alt='VCT Product Info Switcher Logo'] {
}

.docs-doc-id-product-info-switcher img[alt='Frontend selector devtools'] {
    width: 500px;
}

.docs-doc-id-product-info-switcher img[alt='Selector validation in Admin'] {
    width: 400px !important;
}

.docs-doc-id-product-info-switcher img[alt='Log'] {
    width: 1250px;
}

.docs-doc-id-product-info-switcher img[alt='Page Title'] {
    width: 400px;
}

.docs-doc-id-product-info-switcher img[alt='Name, SKU, Availability etc'],
.docs-doc-id-product-info-switcher img[alt='Description'],
.docs-doc-id-product-info-switcher img[alt='Additional Attributes'],
.docs-doc-id-product-info-switcher img[alt='Reviews, Review Form'],
.docs-doc-id-product-info-switcher img[alt='Related'],
.docs-doc-id-product-info-switcher img[alt='Up-Sell'] {
    width: 750px;
}
